* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('../img/fondo.jpg');
  background-size: cover;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* Ajusta el contenido al principio */
  min-height: 100vh;            /* Asegura que la página tenga al menos el 100% de la altura */
  padding-bottom: 60px;         /* Espacio para el footer */
}

.navbar {
  background-color: #1A202C;
  padding: 3mm;
  display: flex;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar a:hover {
  color: #fc7100;
}

h1,h2,h3 {
  color: #fc7100;
  text-align: center;
}

p {
  margin: 0.5rem 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1A202C;
  color: white;
  text-align: center;
  padding: 2mm;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.catalog {
  display: flex;               /* Habilita Flexbox */
  flex-wrap: wrap;             /* Permite que las tarjetas se ajusten en una nueva línea si no caben */
  justify-content: space-around; /* Distribuye las tarjetas con espacio entre ellas */
  gap: 1rem;                   /* Espacio entre las tarjetas */
  margin-bottom: 60px;         /* Espacio para que el footer no cubra el contenido */
}

.producto-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  max-width: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  margin-top: 40px;
}

.producto-card:hover {
  transform: scale(1.05);
}

.producto-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 8px 8px 0 0;
}

.producto-card h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0b2877;
  text-transform: uppercase;
}

.producto-card p {
  color: #000000;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.producto-card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem; /* Tamaño del icono */
  transition: background-color 0.3s ease;
}

.producto-card button.eliminar {
  color: #e74c3c;
}

.producto-card button.editar {
  color: #f39c12;
}

/* Efectos de hover para los botones */
.producto-card button:hover {
  opacity: 0.8;
}

/* Iconos */
.producto-card button i {
  font-size: 1.5rem; /* Ajusta el tamaño del icono */
}

form {
  background-color: white;
  padding: 1.5rem;
  margin: 2rem auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-top: 20px;
}

form input, form textarea, form button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background-color: #fc7100;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #ff8827;
}


